body{
    position: absolute;
    top: 0;
    width: 100%;
    height:800px;
    background-image:url("./image/bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment:fixed;
  }
  
.container_1{
    padding-left:35%;

}

#img{
    margin-right:30%;
    max-width: 600px;
    max-height: 500px;
}