{% extends 'base.html' %}
{% block content %}
<h1>{{ art.title }}</h1>
<p>{{art.user}} </p>
<p>{{art.id}} </p>
<p>{{ art.created_at }}</p>
{% if art.image %}
<img src="{{ art.image.url }}" alt="art">
{% endif %}
<p>{{ art.content }}</p>
<br>
<a href="/">홈으로</a>

<form action="/art/comentcreate/{{ art.id }}" method="POST">
    {% csrf_token %}
    <div>
        <label for="coment_content">댓글</label>
        <textarea name = "coment_content" id = "coment_content" cols ="30" rows="10"></textarea>
    </div>
    <button type ="submit">댓글쓰기</button>
</form>
{% for c in coment %}
<div>
<form action="/art/comentdelete/{{ c.id }}" method="POST">
    {% csrf_token %}
    <p>{{c.content}}</p>
    <p>{{c.user}}</p>
    {% ifequal user c.user %}
    <button type="submit"> 삭제하기 </button>
    {% endifequal %}
    <p>{{c.created_at}}</p>
</div>
{% endfor %}
{% endblock %}